body {
  background: #000000;
  text-align: center;
}
.container {
  width: 500px;
  display: inline-block;
  transform: translateY(200px);
}
.bar {
  background: #ffffff;
  width: 10px;
  height: 100px;
}
.bar1 {
  float: left;
}
.bar2 {
  float: right;
}
.ball {
  background: #ffffff;
  width: 10px;
  height: 10px;
  position: relative;
  top: 45px;
  left: 10px;
}

h1{
  color: white;
  font-size:5vw;
  
}