.black {
  background-color: black;
}



.behind {
  background: rgba(0, 0, 0, 0);
}

.blacklight-theme {
  background-color: rgb(15, 15, 15);
}

.grey {
  background-color: rgba(128, 128, 128, 0.253);
}

.portfolio {
  background: linear-gradient(to bottom, rgb(0, 0, 0));
}

.wallpaper1 {
  color: white;
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  background-image: url("https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
}

.wallpaper2 {
  font-size: 18px;
  color: white;
  text-shadow: 3px 3px 6px black;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  background-image: url("../image/Challenge.jpg");
}

#etoile {
  height: 18px;
  margin-top: -3px;
  margin-right: -4px;
}

.white {
  background-color: rgba(255, 255, 255, 0);
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

.navbar-brand {
  font-weight: 500;
}

.nav-link {
  font-weight: 500;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgb(88, 88, 88);
}

.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.281);
}

.logo {
  max-width: 60px;
}

.img-container {
  overflow: hidden;
}

.photo {
  width: 300px;
}

.photo-card {
  max-width: 300px;
  max-height: 400px;
  object-fit: cover;
  transition: 0.5s;
}

.photo-card:hover {
  transform: scale(1.1);
}

.photoMin {
  border-radius: 50%;
  width: 50px;
  margin-left: -20px;
}

.contact {
  width: 20px;
}

.download {
  text-decoration: none;
}

.download:hover {
  background-color: rgba(128, 128, 128, 0.267);
}

@media screen and (max-width: 768px) {
  #logo {
    display: none;
  }
  .nav2 {
    display: none;
  }
  .contact-link {
    display: none;
  }
  .justify-content-evenly {
    padding-bottom: 12px;
  }
  .photo {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .btn-desktop {
    visibility: hidden;
  }
}

.btn-responsive {
  display: none;
}

@media screen and (max-width: 992px) {
  .btn-responsive {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .photoMin {
    display: none;
  }
}

.theme-container {
  position: fixed;
  top: 10px;
}

#dark {
  background: black;
  border-color: black;
}

#light {
  background: rgb(255, 255, 255);
}

.dark-theme {
  background: rgb(15, 15, 15);
  color: white;
}

.light-theme {
  background: rgb(255, 255, 255);
  color: black;
}
